* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(192, 156, 103);
    --secondary-color: rgb(163, 146, 135);
    --footer-container: rgb(205, 206, 189);
    --detail-cart: rgb(164, 155, 170);
    --white: rgb(255, 255, 255);
    --gray-200: rgb(211, 211, 211);
    --gray-500: rgb(128, 128, 128);
    --gray-900: rgb(169, 169, 169);
    --blue-600: rgb(0, 0, 255);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/*          Header navigation bar */

.navigation-bar {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-between;
    padding: .7rem;
}

.side-nav-section {
    display: flex;
    width: 17rem;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1.2rem;
    color: var(--white);
}

.search-bar {
    width: 40%;
    font-size: 1.2rem;
    padding: .5rem;
    margin: 1rem 0;
}

.login-btn {
    font-size: 1.2rem;
    padding: .5rem .8rem;
}

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
}

.badge-wishlist {
    font-size: 1.1rem;
    background-color: var(--blue-600);
    padding: .2rem .4rem;
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    left: 1.3rem;
    top: -1rem;
}

@media screen and (max-width:570px) {
    .search-bar {
        display: none;
    }
}