*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:rgb(192, 156, 103);
    --secondary-color:rgb(168, 144, 128);
    --white:#fff;
    --white-smoke:whitesmoke;
    --black:black;
    --gray-200:lightgray;
    --gray-500:gray;
    --gray-900:darkgray;
    --blue-600:blue;
    --blue-200:skyblue;
    --footer-card-bg:rgb(205, 206, 189);
    --cart-badge-bg:rgb(199, 166, 150);
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}

/*          Header navigation bar */

.navigation-bar {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-between;
    padding: .5rem;
}
.side-nav-section{
    display: flex;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1.2rem;
    color: var(--white);
}
.search-bar {
    width: 40%;
    font-size: 1.2rem;
    padding: .5rem;
    margin: 1rem 0;
}

.login-btn {
    font-size: 1.2rem;
    padding: .5rem .8rem;
}
.btn {
    font-size: 1.8rem;
    font-weight: 600;
    position: relative;
}

.badge-wishlist {
    font-size: 1.1rem;
    background-color: var(--blue-600);
    padding: .2rem .4rem;
    color: var(--white);
    border-radius: 50%;
    position: absolute;
    left: 1.3rem;
    top: -1rem;
}

@media screen and (max-width:510px){
    .search-bar{
        display: none;
    }
}